@import url('https://fonts.googleapis.com/css?family=Courgette|Inconsolata:400,700|Raleway');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}
#container{
	margin:0 auto;
	position: relative;	
	width:529px; /* width - 1 (cuase of margin) x #of colums in puzzle */
}
h1{ 
	font-family: 'Courgette', cursive;
	font-size:35px;
	margin-bottom: 10px;
}
.seperator { 
	clear:both; 
	padding: 10px 0;
}

/* sqauqres */
.square{
	border:none;
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	font-size:15px;
	float:left;
	height:25px;
	line-height: 15px;
	outline:none;
	text-align: center;
	text-transform: uppercase;
	width:25px;
	margin:-1px;
}
.square.letter {
	border: 2px solid black;
	cursor: help;
}
.square.letter:focus{
	background-color: #dfdfdf;
}

/* highlight clues on hover */
.square.letter.clue1:hover ~ #clues .clue#clue_1, .square.letter.clue1:focus ~ #clues .clue#clue_1, 
.square.letter.clue2:hover ~ #clues .clue#clue_2, .square.letter.clue2:focus ~ #clues .clue#clue_2, 
.square.letter.clue3:hover ~ #clues .clue#clue_3, .square.letter.clue3:focus ~ #clues .clue#clue_3, 
.square.letter.clue4:hover ~ #clues .clue#clue_4, .square.letter.clue4:focus ~ #clues .clue#clue_4, 
.square.letter.clue5:hover ~ #clues .clue#clue_5, .square.letter.clue5:focus ~ #clues .clue#clue_5, 
.square.letter.clue6:hover ~ #clues .clue#clue_6, .square.letter.clue6:focus ~ #clues .clue#clue_6, 
.square.letter.clue7:hover ~ #clues .clue#clue_7, .square.letter.clue7:focus ~ #clues .clue#clue_7, 
.square.letter.clue8:hover ~ #clues .clue#clue_8, .square.letter.clue8:focus ~ #clues .clue#clue_8, 
.square.letter.clue9:hover ~ #clues .clue#clue_9, .square.letter.clue9:focus ~ #clues .clue#clue_9, 
.square.letter.clue10:hover ~ #clues .clue#clue_10, .square.letter.clue10:focus ~ #clues .clue#clue_10, 
.square.letter.clue11:hover ~ #clues .clue#clue_11, .square.letter.clue11:focus ~ #clues .clue#clue_11, 
.square.letter.clue12:hover ~ #clues .clue#clue_12, .square.letter.clue12:focus ~ #clues .clue#clue_12, 
.square.letter.clue13:hover ~ #clues .clue#clue_13, .square.letter.clue13:focus ~ #clues .clue#clue_13, 
.square.letter.clue14:hover ~ #clues .clue#clue_14, .square.letter.clue14:focus ~ #clues .clue#clue_14  {
	background: linear-gradient(to right, #f9ddbd 0%,#ffffff 60%);
}

/* Strike the completed clue when all squares entered (if validation when only when correct) */
/* Clue 1 (15 letters) */
#validate:not(:checked) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ .square.clue1:not(:placeholder-shown) ~ #clues #clue_1,
#validate:checked ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ .square.clue1:not(:placeholder-shown):valid ~ #clues #clue_1,
/* Clue 2 (10 letters) */
#validate:not(:checked) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ .square.clue2:not(:placeholder-shown) ~ #clues #clue_2,
#validate:checked ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ .square.clue2:not(:placeholder-shown):valid ~ #clues #clue_2,
/* Clue 3 (7 letters) */
#validate:not(:checked) ~ .square.clue3:not(:placeholder-shown) ~ .square.clue3:not(:placeholder-shown) ~ .square.clue3:not(:placeholder-shown) ~ .square.clue3:not(:placeholder-shown) ~ .square.clue3:not(:placeholder-shown) ~ .square.clue3:not(:placeholder-shown) ~ .square.clue3:not(:placeholder-shown) ~ #clues #clue_3,
#validate:checked ~ .square.clue3:not(:placeholder-shown):valid ~ .square.clue3:not(:placeholder-shown):valid ~ .square.clue3:not(:placeholder-shown):valid ~ .square.clue3:not(:placeholder-shown):valid ~ .square.clue3:not(:placeholder-shown):valid ~ .square.clue3:not(:placeholder-shown):valid ~ .square.clue3:not(:placeholder-shown):valid ~ #clues #clue_3,
/* Clue 4 (8 letters) */
#validate:not(:checked) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ .square.clue4:not(:placeholder-shown) ~ #clues #clue_4,
#validate:checked ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ .square.clue4:not(:placeholder-shown):valid ~ #clues #clue_4,
/* Clue 5 (12 letters) */
#validate:not(:checked) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ .square.clue5:not(:placeholder-shown) ~ #clues #clue_5,
#validate:checked ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ .square.clue5:not(:placeholder-shown):valid ~ #clues #clue_5,
/* Clue 6 (12 letters) */
#validate:not(:checked) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ .square.clue6:not(:placeholder-shown) ~ #clues #clue_6,
#validate:checked ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ .square.clue6:not(:placeholder-shown):valid ~ #clues #clue_6,
/* Clue 7 (12 letters) */
#validate:not(:checked) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ .square.clue7:not(:placeholder-shown) ~ #clues #clue_7,
#validate:checked ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ .square.clue7:not(:placeholder-shown):valid ~ #clues #clue_7,
/* Clue 8 (7 letters) */
#validate:not(:checked) ~ .square.clue8:not(:placeholder-shown) ~ .square.clue8:not(:placeholder-shown) ~ .square.clue8:not(:placeholder-shown) ~ .square.clue8:not(:placeholder-shown) ~ .square.clue8:not(:placeholder-shown) ~ .square.clue8:not(:placeholder-shown) ~ .square.clue8:not(:placeholder-shown) ~ #clues #clue_8,
#validate:checked ~ .square.clue8:not(:placeholder-shown):valid ~ .square.clue8:not(:placeholder-shown):valid ~ .square.clue8:not(:placeholder-shown):valid ~ .square.clue8:not(:placeholder-shown):valid ~ .square.clue8:not(:placeholder-shown):valid ~ .square.clue8:not(:placeholder-shown):valid ~ .square.clue8:not(:placeholder-shown):valid ~ #clues #clue_8,
/* Clue 9 (3 letters) */
#validate:not(:checked) ~ .square.clue9:not(:placeholder-shown) ~ .square.clue9:not(:placeholder-shown) ~ .square.clue9:not(:placeholder-shown) ~ #clues #clue_9,
#validate:checked ~ .square.clue9:not(:placeholder-shown):valid ~ .square.clue9:not(:placeholder-shown):valid ~ .square.clue9:not(:placeholder-shown):valid ~ #clues #clue_9,
/* Clue 10 (5 letters) */
#validate:not(:checked) ~ .square.clue10:not(:placeholder-shown) ~ .square.clue10:not(:placeholder-shown) ~ .square.clue10:not(:placeholder-shown) ~ .square.clue10:not(:placeholder-shown) ~ .square.clue10:not(:placeholder-shown) ~ #clues #clue_10,
#validate:checked ~ .square.clue10:not(:placeholder-shown):valid ~ .square.clue10:not(:placeholder-shown):valid ~ .square.clue10:not(:placeholder-shown):valid ~ .square.clue10:not(:placeholder-shown):valid ~ .square.clue10:not(:placeholder-shown):valid ~ #clues #clue_10,
/* Clue 11 (6 letters) */
#validate:not(:checked) ~ .square.clue11:not(:placeholder-shown) ~ .square.clue11:not(:placeholder-shown) ~ .square.clue11:not(:placeholder-shown) ~ .square.clue11:not(:placeholder-shown) ~ .square.clue11:not(:placeholder-shown) ~ .square.clue11:not(:placeholder-shown) ~ #clues #clue_11,
#validate:checked ~ .square.clue11:not(:placeholder-shown):valid ~ .square.clue11:not(:placeholder-shown):valid ~ .square.clue11:not(:placeholder-shown):valid ~ .square.clue11:not(:placeholder-shown):valid ~ .square.clue11:not(:placeholder-shown):valid ~ .square.clue11:not(:placeholder-shown):valid ~ #clues #clue_11,
/* Clue 12 (3 letters) */
#validate:not(:checked) ~ .square.clue12:not(:placeholder-shown) ~ .square.clue12:not(:placeholder-shown) ~ .square.clue12:not(:placeholder-shown) ~ #clues #clue_12,
#validate:checked ~ .square.clue12:not(:placeholder-shown):valid ~ .square.clue12:not(:placeholder-shown):valid ~ .square.clue12:not(:placeholder-shown):valid ~ #clues #clue_12,
/* Clue 13 (7 letters) */
#validate:not(:checked) ~ .square.clue13:not(:placeholder-shown) ~ .square.clue13:not(:placeholder-shown) ~ .square.clue13:not(:placeholder-shown) ~ .square.clue13:not(:placeholder-shown) ~ .square.clue13:not(:placeholder-shown) ~ .square.clue13:not(:placeholder-shown) ~ .square.clue13:not(:placeholder-shown) ~ #clues #clue_13,
#validate:checked ~ .square.clue13:not(:placeholder-shown):valid ~ .square.clue13:not(:placeholder-shown):valid ~ .square.clue13:not(:placeholder-shown):valid ~ .square.clue13:not(:placeholder-shown):valid ~ .square.clue13:not(:placeholder-shown):valid ~ .square.clue13:not(:placeholder-shown):valid ~ .square.clue13:not(:placeholder-shown):valid ~ #clues #clue_13,
/* Clue 14 (8 letters) */
#validate:not(:checked) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ .square.clue14:not(:placeholder-shown) ~ #clues #clue_14
#validate:checked ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ .square.clue14:not(:placeholder-shown):valid ~ #clues #clue_14
{

	text-decoration: line-through red;
	
}


/* Check wrong answers checkbox */
#validate:checked, 
#validate:checked + label{
	display:none;
}
#validate_active{
	display: none;
}
#validate:checked ~ #validate_active{
	display: block;
}
#validate:checked ~ .square.letter:not(:placeholder-shown):invalid{
	background-color: #FF8080;
}

/* Clues */
#clues { 
	counter-reset: clues; 
}
#clues div:before{
	font-weight: 900;
	content: counter(clues) ". ";
	margin-left:-25px;
}
#clues div {
	counter-increment: clues;
	float:left;
	margin: 5px 0;
	padding-left:25px;
	padding-right: 5px;
	width:50%;
}
#clues div:nth-child(2n +1 ){
	clear:left;
}
#clues div span {
	font-size: smaller;
	color: #999;
	white-space: nowrap
}
/* Win */
form:valid input{
	pointer-events: none;
}
form:valid #win{ display: block;}

/* Show messages */
.messages{ 
	display: none;
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.4);
	color:white;
	z-index:200;
}
.messages .text{
	min-height:150px;
	position:absolute;
	width:100%;
	top: 125px;
	padding:15px;
	font-size:14px;
  top: 50%;
  transform: translateY(-50%);
	text-align: justify
}
.messages .text strong{
	font-family: 'Courgette', cursive;
	font-size:20px;
	display: block;
	text-transform: uppercase;
}
.messages#win .text{
	background: #7BB900;
}

/* numbering the clues */
.numbered {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>1</text></svg>");
}
.numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>2</text></svg>");
}
.numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>3</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>4</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>5</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>6</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>7</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>8</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>9</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>10</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>11</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>12</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered  {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>13</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>14</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>15</text></svg>");
}
.numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered ~ .numbered {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><text y='8' font-family='monospace' font-size='10'>16</text></svg>");
}